body, html {
  height: 100%;
}

body {
  font-family: Raleway !important;
  background-color: #2b3e50;
}

.list-inline-item.subNav {
  margin-right: 3.5%;
}

.temp {
  font-weight: bold;
  font-size: 35px;
  display: inline;
  color: #df691a;
}

.text-primary {
  color: #df691a !important;
}

.font30 {
  font-size: 30px;
}
.inline {
  display: inline-block;
}

.card-body.forecast {
  min-height: 200px;
}